* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1d1203;
    overflow: hidden;
}

.bubble-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubble {
    position: absolute;
    bottom: -50px;
    width: 20px;
    height: 20px;
    background: rgba(231, 227, 10, 0.842);
    border-radius: 50%;
    animation: rise 5s linear infinite;
}

@keyframes rise {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100vh);
        opacity: 0;
    }
}